
.captions_destacado {
	position: absolute;
	text-align: center;
	/* margin-top: 70%; */
	width: 200px;
	height: 60px;
	top:220px;
	right:450px;
	color: #e0ae37;
	/* outline: none; */
		background-color: rgba(10, 10, 10, 0.7);
		font-weight:500;
		font-size:18px;
		font-variant:Small-Caps;
		display: inline-block;
	 text-decoration: none;
	 padding: 16px;
}

#destacado {
color: #e0ae37;
text-decoration: none;
}
